.about_us_container
    position: relative
    background:
        image: url(../img/teeth.jpg)
        size: cover
        position: center center
        attachment: fixed
        
    
.about_content
    position: absolute
    background-color: $bg-color-primary
    box-shadow: $shadow
    margin: 90px 0 100px 0
    padding: 20px 0
    
.team_img
    max-width: 100%
    padding-bottom: 25px
    
.doc_img
    max-width: 60%
    padding-bottom: 25px
    
.about_text
    padding-right: 35px
    
@media (max-width: 991px)
    .about_content
        margin-top: 100px
        
    .about_text
        padding: 0 20px 0 20px
        
.doctors
    padding-top: 50px
    
.phone
    padding: 0 0 10px 0
    
    