// Header
$hero-img-size: 350px

header
    @include bg_section
    //position: relative
    display: flex
    flex-direction: row
    width: 100vw
    height: 80vh
    padding: 70px 0 100px 0

    .hero-logo
        display: block
        margin: 0 auto
        width: $hero-img-size
        height: $hero-img-size
        filter: drop-shadow($shadow2)
    
    .hero-img
        position: relative
        top: 320px
        height: 441px
        background-image: url('../../assets/img/hero-img.jpg')
        background-position: center
        background-size: cover
        box-shadow: $shadow
        

